#sidebar {
  border-right: solid 1px #ccc;
  background: #35589b;
  min-height: calc(100vh - 71px);
  width: 170px;
}

#sidebar a.nav-link {
  color: #c3c3c3;
}
#sidebar .mat-icon {
  display: inline-block;
  position: relative;
  top: 5px;
}
