#screen {
  min-height: 630px;
  position: relative;
  background: #333;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/***/
#screen #demoscreen {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #333;
  display: table;
}

#screen #demoscreen .text {
  font-size: 30px;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

#screen #videos {
  width: 100%;
  text-align: center;
}

#screen #videos div {
  margin: 0;
  width: 50%;
  padding: 1px 4px;
  border: solid 1px #ccc;
  display: inline-block;
}
#screen #videos div:nth-child(even) {
  content: "";
}
#screen #videos video {
  width: 100%;
  object-fit: cover;
  margin-top: 4px;
  background: #000;
}
#screen #videos.resize div {
  width: 33.33%;
}
#screen .button_bar {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding: 15px;
}

#screen .button_bar button {
  margin: 2px;
}

#screen .mat-fab.mat-primary,
#screen .mat-flat-button.mat-primary,
#screen .mat-mini-fab.mat-primary,
#screen .mat-raised-button.mat-primary {
  background-color: #426ec2;
}

.hidden {
  display: none !important;
}
