#screen {
  min-height: 500px;
  position: relative;
  background: #333;
  float: left;
  width: 100%;
}
/***/
#screen #demoscreen {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #333;
  display: table;
}

#screen #demoscreen .text {
  font-size: 30px;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

#screen #videos {
  width: 100%;
  height: 100%;
  display: table;
}

#screen #videos video {
  margin: 0;
  width: 100%;
  max-height: 630px;
  float: left;
  padding: 1px;
}
#screen #videos .one {
  width: 100%;
  min-height: 620px;
}
#screen #videos .two {
  width: 50%;
}
#screen #videos .three {
  width: 33.33%;
}
#screen #videos .four {
  width: 25%;
}

@media screen and (max-width: 360px) {
  #screen #videos video {
    width: 100%;
  }
}

#screen .button_bar {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding: 15px;
}

#youarepresenting {
  color: white;
  width: 200px;

  justify-content: space-between !important;
  align-items: center;
  text-align: center;

  display: flex;
  float: left;
  vertical-align: middle;
  height: 100%;
}
#youarepresenting .text {
  width: 100%;
}
