<div [hidden]="!screenService.track" id="youarepresenting">
  <p>You are presenting <button mat-raised-button color="primary" (click)="Stop_share()" *ngIf="hasJoined && screenService.track">
    Stop
  </button></p>
</div>
<div id="screen">
  <div id="demoscreen" *ngIf="!hasJoined">
    <div class="text">
      <p>
        Join the call..
      </p>
    </div>
  </div>
  
  <div id="videos" #videos>
    
  </div>
  <div class="button_bar">
    <button mat-fab color="primary" (click)="copy_share_link()" matTooltip="Share meeting url with other">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-fab color="primary" [disabled]="hasJoinedDisabled" (click)="Join()" *ngIf="!hasJoined" matTooltip="Start the call">
      <mat-icon>phone</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="micState(true)" *ngIf="hasJoined && !mic" matTooltip="Turn on mic">
      <mat-icon>mic_off</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="micState(false)" *ngIf="hasJoined && mic" matTooltip="Turn off mic">
      <mat-icon>mic</mat-icon>
    </button>


    <button mat-fab color="primary" (click)="videoState(true)" *ngIf="hasJoined && !video" matTooltip="Turn on video">
      <mat-icon>videocam_off</mat-icon>
    </button>
    
    <button mat-fab color="primary" (click)="videoState(false)" *ngIf="hasJoined && video" matTooltip="Turn off video">
      <mat-icon>videocam</mat-icon>
    </button>

    <button mat-fab color="primary" (click)="Share()" *ngIf="hasJoined && !screenService.track"  matTooltip="Share your screen">
      <mat-icon>screen_share</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="Stop_share()" *ngIf="hasJoined && screenService.track" matTooltip="Stop screen share">
      <mat-icon>stop_screen_share</mat-icon>
    </button>

    <button mat-fab color="primary" [disabled]="hasJoinedDisabled" (click)="Stop()" *ngIf="hasJoined" matTooltip="Stop the call">
      <mat-icon>phone_disabled</mat-icon>
    </button>
  </div>
</div>
