<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>Web Real-Time Communication</h3>
      <img src="assets/images/136444.jpg" class="img-fluid" id="homebanner" />
    </div>
    <div class="col-md-5">
      <h3>Stacks</h3>
      <mat-list role="list">
        <mat-list-item role="listitem">1. RTC peer communication</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">2. Firebase for Deployment</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">3. Angular for Frontend</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">4. Firestore as Signaling server</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">5. Screen Sharer</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">6. Meeting module</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
