<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>In this together.Keeping you securely.connected wherever you are.</h3>
      <img src="assets/images/136444.jpg" class="img-fluid" id="homebanner" />
      <p>webRTC is super natural and easy to use - just download it, click, and you're in. I use webRCT on an airplane,
        in the car, in my house, in the office - everywhere.</p>
    </div>
    <div class="col-md-5">
      <mat-list role="list">
        <mat-list-item role="listitem">One consistent enterprise experience for all use cases</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Engineered & optimized to work reliably</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Up to 1,000 video participants & 10,000 viewers</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Easy-to-use, buy & scale</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Most affordable, straightforward pricing</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">HD video, audio, collaboration & chat</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Power up your conference rooms with video</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Full-featured, easy-to-use, engaging webinars</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">Access files, generate sales leads</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
